<div class="container main text-center">
  <h1 class="text-center title">
    Benvenuto in <span class="span">Poste Italiane</span> Films
  </h1>
  <h3 class="text-center par">
    Un vastissimo assortimento di titoli, per grandi e piccoli, da guardare tutti in compagnia durante le infinite code in una delle tante filiali in giro per l'Italia
  </h3>
  <div class="container immagini d-flex justify-content-center">
    <img class="image" src="../../../assets/AnnaMaria.png">
    <img class="image" src="../../../assets/assistenza-domiciliare-anziani-roma.png">
    <img class="image" src="../../../assets/anziani-slider-1024x662.png" alt="">
  </div>
  <a class="btn btn-primary my-5" routerLink="/auth/register">Clicca qui per registrarti</a>
</div>

