<header class="d-flex justify-content-center py-3 header">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link li" aria-current="page">Home</a>
    </li>
    <li class="nav-item" *ngIf="!isUserLoggedId">
      <a routerLink="/auth/login" class="nav-link li" aria-current="page">Accedi</a>
    </li>
    <li class="nav-item" *ngIf="isUserLoggedId">
      <a routerLink="/dashboard" class="nav-link li" aria-current="page">Dashboard</a>
    </li>
    <li class="nav-item" *ngIf="isUserLoggedId">
      <a routerLink="/profile" class="nav-link li" aria-current="page">Profilo</a>
    </li>

  </ul>
</header>
