.main-container{
    margin: $marginX ;
    color: $colorText;
    .tv-shows{
        width: fit-content;
        margin-right: 1.5rem;
    }
    .dropdown{
        width: fit-content;
    }
    .mini-icon{
        @include flexCenter(row, end, center);
        .icon-group{
            margin-right: 70px;
            border: $borderWhite;
            border-radius: 0;
            .primoBtn{
                border-right: $borderWhite;
            }
        }
    }
    .copertina{
        max-width: 310px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 991px){
    .mini-icon{
        display: none;
    }
    .icon-group{
        display: none;
    }
    .primaSlide, .secondaSlide, .terzaSlide{
        @include flexCenter(column, center, center);
        .copertina{
            margin-top: 10px;
        }
    }

}
