.mainTitle{
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.secondTitle{
  font-style: italic;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.cardCompleted{
  background-color: #00173D;
}

.cardUncompleted{
  background-color: rgb(154, 164, 179);
}

