.navbar{
    display: flex;
    background-color: rgb(255, 233, 192);
    border-radius: 70px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    flex-wrap: wrap;
    

}

.navbar a{
    color: rgb(57, 45, 13);
    text-decoration: none;
    background-color: rgb(255, 201, 100);
    border-radius: 100px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 100px;
    margin-bottom: 25px;
}

#shop{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    flex: 2 1 200px;
    margin: 0;
    max-width: 200px;
    height: 40px;
    margin-top: 20px;
}

#shop img{
    width: 40px;
    margin-right: 20px;
}

.container{
    display: flex;
    align-items: center;


}