.navbar{
    background-color: rgb(255, 222, 161);
    display: flex;
    justify-content: space-around;
    gap: 3%;
    height: 5rem;
    align-items: center;
    border-radius: 50px;
    width: 600px;
    position: absolute;
    right: 30%;
    top: 2%;
}

.navbar a{
    background-color: rgb(255, 201, 100);
    border-radius: 20px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    text-decoration: none;
    color: rgb(57, 45, 13);
}

#logo{
    width: 20px;
    margin-right: 10px;
}